<nav class="navbar">
  <!--<div class="navbar__back">
    <a [routerLink]="['/']">Back</a>
  </div>-->
  <div class="navbar__title">
    <a [routerLink]="['/']">{{ data.realname._content }} Photography</a>
  </div>
  <div class="navbar__meta">
    <div class="avatar">
      <a [href]="data.photosurl._content" target="_blank">
        <img
        [src]="buildAvatarUrl(data)"
        alt="{{ data.realname._content }} Photography">
      </a>
    </div>
    <!--<div class="location">
      <span>{{ data.location._content }}</span>
    </div>-->
  </div>
</nav>