.sidebar {
  left: 0;
  width: 200px;
  position: fixed;
}

.container--sidebar {
  margin-left: 200px;
}

.container {
  padding: 30px 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
}