.slideshow {
  position: relative;

  &__navigation {
    margin-right: 10px;
    text-align: right;

    .navigation {

      &:hover {
        cursor: pointer;
      }
    }
  }
  &__wrapper {
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {

    }
  }
}